aiohttp==3.6.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
DateTime==4.3
# discord-ext-menus==1.0.0a26+g84caae8
git+https://github.com/Rapptz/discord-ext-menus
discord-flags==2.1.1
discord.py==1.4.1
dotenv-python==0.0.1
idna==2.10
multidict==4.7.6
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
urllib3==1.25.10
yarl==1.5.1
zope.interface==5.1.0
